# Config
gee-auth-key.json
subscribe/config.py
config.edn
announcement.txt

# Build Directories and Files
.cpcache/
logs
static
node_modules/
target/
package-lock.json
__pycache__
classes
.nrepl-port
.log/
.DS_Store
