{:database     {:host     "localhost"
                :port     5432
                :dbname   "comimo"
                :user     "comimo"
                :password "comimo"}
 :mail         {:host     "smtp.gmail.com"
                :user     ""
                :pass     ""
                :tls      true
                :port     587
                :base-url "https://my.domain/"
                :auto-validate? false}
 :server       {:http-port 8080
                :mode      "prod"
                :log-dir   "logs"}
 :ga-id        nil
 :session-key  "changeme12345678"
 :gee          {:ee-account  ""
                :ee-key-path ""}
 :mapbox-token ""
 :mapquest-key ""
 :nicfi-key    ""}
