{:database    {:host     "localhost"
               :port     5432
               :dbname   "comimo"
               :user     "comimo"
               :password "comimo"}
 :mail        {:host     "smtp.gmail.com"
               :user     ""
               :pass     ""
               :tls      true
               :port     587
               :base-url "https://my.domain/"
               :auto-validate? true}
 :server      {:http-port 8080
               :mode      "dev"
               :log-dir   ""}
 :gee         {:ee-account  ""
               :ee-key-path ""}
 :ga-id       nil
 :session-key "1234567890qwertx"}
