{:paths   ["src/clj" "resources" "dist"]

 :deps    {cider/cider-nrepl         {:mvn/version "0.30.0"}
           clj-http/clj-http         {:mvn/version "3.12.3"}
           clj-python/libpython-clj  {:mvn/version "2.020"}
           org.clojure/clojure       {:mvn/version "1.11.1"}
           org.clojure/data.json     {:mvn/version "2.4.0"}
           ring/ring                 {:mvn/version "1.8.2"}
           sig-gis/triangulum        {:git/url "https://github.com/sig-gis/triangulum"
                                      :git/sha "4aab4f9b6af8a7af1814c235f5709a27eb38f2c6"}}

 :aliases {:build-db         {:main-opts ["-m" "triangulum.build-db"]}
           :config           {:main-opts ["-m" "triangulum.config"]}
           :https            {:main-opts ["-m" "triangulum.https"]}
           :migrate          {:main-opts ["-m" "triangulum.migrate"]}
           :server           {:main-opts ["-m" "triangulum.server"]
                              :jvm-opts  ["--add-modules=jdk.incubator.foreign"
                                          "--enable-native-access=ALL-UNNAMED"]}
           :systemd          {:main-opts ["-m" "triangulum.systemd"]}
           :rebel            {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                              :main-opts  ["-m" "rebel-readline.main"]}
           :production       {:jvm-opts ["-XX:MaxRAMPercentage=90" "-XX:+PrintFlagsFinal"]}
           :check-reflection {:main-opts ["-e" "(do,(set!,*warn-on-reflection*,true),nil)"
                                          "-e" "(require,'comimo.routing)"]
                              :jvm-opts  ["--add-modules=jdk.incubator.foreign"
                                          "--enable-native-access=ALL-UNNAMED"]}
           :check-deps       {:deps      {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                              :main-opts ["-m" "antq.core"]}
           :nrepl-client     {:deps      {nrepl/nrepl {:mvn/version "1.0.0"}}
                              :main-opts ["-m" "nrepl.cmdline" "--connect" "--host" "127.0.0.1" "--port" "5555"]}}}
