{% extends 'base.html' %}


<body>
{% block content %}
  <div class='wrapper'>
    {% if validlink %}
      <h3>Change password</h3>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change password</button>
      </form>
    {% else %}
      <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
      </p>
    {% endif %}
  </div>
  {% endblock %}
</body>

{% block pagestyles %}
<style>
  .wrapper{
    background:#faff3b9c;
    width:400px;
    padding:50px;
    margin:auto;
    margin-top:100px;
    text-align:center;
    box-shadow:2px 2px 0px 1px rgba(0,0,0,.1);
  }
</style>
{% endblock %}
