{% extends 'base.html' %}

<body>
{% block content %}
  <div class='wrapper'>
    <p>
      We've emailed you instructions for setting your password, if an account exists with the email you entered.
      You should receive them shortly.
    </p>
    <p>
      If you don't receive an email, please make sure you've entered the address you registered with,
      and check your spam folder.
    </p>
  </div>
  {% endblock %}
</body>

{% block pagestyles %}
<style>
  .wrapper{
    background:#faff3b9c;
    width:400px;
    padding:50px;
    margin:auto;
    margin-top:100px;
    text-align:center;
    box-shadow:2px 2px 0px 1px rgba(0,0,0,.1);
  }
</style>
{% endblock %}
