<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}


<body>
{% block content %}
  <div class='wrapper'>
    <div style="padding:30px">
      <h2>Sign up</h2>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Sign up</button>
      </form>
    </div>

  </div>
  {% endblock %}
</body>

{% block pagestyles %}
<style>
  .wrapper{
    background:#faff3b9c;
    /* width:1000px; */
    padding:0px 50px 50px 50px;
    margin:auto;
    box-shadow:2px 2px 0px 1px rgba(0,0,0,.1);
  }
</style>
{% endblock %}
