<!-- templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>Colombian Mining Monitoring</title>
        <script
            type="text/javascript"
            {% if user.is_authenticated %}
            data-auth = 'true'
            {% endif %}
            {% if user.is_superuser %}
            data-admin = 'true'
            {% endif %}
            data-test = 100
        >
            USER_STATE = document.currentScript.dataset.auth;
            USER_ADM = document.currentScript.dataset.admin;
        </script>
        <script type='text/javascript' src='{% static "js/vendor.js" %}'></script>
        {% block pagescripts %}
        {% endblock %}

        <!-- Latest compiled and minified CSS -->
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
        <link rel='stylesheet' href='{% static "css/bootstrap-grid.min.4.3.1.css" %}' />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='{% static "css/gmw_global.css" %}' />
        {% block pagestyles %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
