<!-- templates/base.html -->
{% load static %}

{% if user.is_superuser %}
<html>
  <head>
    <title>Download Validated Data</title>
    <style>
      html,body{
        height:100%;
        width:100%;
        margin:0;
        padding:0;
        font-family:'Roboto Condensed', sans-serif !important;
        font-size:0.5rem;
        overflow:hidden;
      }
      #map{
        height:100%
      }
      .button-pane{
        text-align:right;
        padding:20px 0px;
      }
      .padright{
        padding-right:20px;
      }
      th, td {
        padding: 2px;
      }
    </style>
  </head>
  <body>
    <div class="container-fl">
      <div class="row">
        <div class="col-lg-6">
          <div id="map">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="padright">
            <div id="datTable"></div>
            <div class="button-pane">
              <button id="download-csv" class="btn btn-primary" type="button" name="button">Download CSV</button>
              <button id="download-json" class="btn btn-primary" type="button" name="button">Download JSON</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- <link href="https://unpkg.com/tabulator-tables@4.5.3/dist/css/tabulator.min.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha256-SC9pI7daKIBEHzXq0JEtOr9yMl5V7yMMqoowsw8uzNs=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.4.3/css/bootstrap/tabulator_bootstrap4.min.css" integrity="sha256-+AmauyGZPl0HNTBQ5AMZBxfzP+rzXJjraezMKpWwWSE=" crossorigin="anonymous" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />
    <script type='text/javascript'>
      var data  = [
      {% if data %}
        {% for item in data %}
          {"id":"{{item.id}}",
          "y":{{item.y}},
          "x":{{item.x}},
          "dataDate":'{{item.data_date|date:'Y-m-d'}}',
          "classNum":{{item.class_num}},
          "className":"{{item.class_name}}"},
        {% endfor %}
      {% endif %}
      ];
    </script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.5.3/dist/js/tabulator.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
    <script type='text/javascript' src='{% static "js/appconfigs.js" %}'></script>
    <script type="text/javascript" src='{% static "js/adm_download.js" %}'></script>
  </body>
</html>
{% else %}
    <p>Insufficient credentials! You need to be an admin to access this site!!</p>
{% endif %}
