<!-- templates/download-all.html-->
{% extends 'base.html' %}
{% load static %}

{% block pagescripts %}
<!-- add classes for the application -->
<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
</script>
<script type='text/javascript' src='{% static "js/downloadAll.js" %}'></script>
{% endblock %}

{% block pagestyles %}
<link href="https://unpkg.com/tabulator-tables@4.5.3/dist/css/tabulator.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.4.3/css/bootstrap/tabulator_bootstrap4.min.css" integrity="sha256-+AmauyGZPl0HNTBQ5AMZBxfzP+rzXJjraezMKpWwWSE=" crossorigin="anonymous" />
<style>
    html,body{
        height:100%;
        width:100%;
        margin:0;
        padding:0;
        font-family:'Roboto Condensed', sans-serif !important;
        font-size:1rem;
        overflow:hidden;
    }
    #map{
        height:100%
    }
    .button-pane{
        text-align:right;
        padding:20px 0px;
    }
    .padright{
        padding-right:20px;
    }
    th, td {
        padding: 2px;
    }
</style>
{% endblock %}

{% block content %}
<div id='main-container'>
</div>
<script type='text/javascript'>window.onload = function () {downloadAll.pageInit()}</script>
{% endblock %}
