<!-- templates/download-all.html-->
{% extends 'base.html' %}
{% load static %}

{% block pagescripts %}
<!-- add classes for the application -->
<script type='text/javascript' src='{% static "js/jquery-3.4.1.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/tabulator-4.5.3.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/downloadData.js" %}'></script>
{% endblock %}

{% block pagestyles %}
<link rel='stylesheet' href='{% static "css/tabulator-4.5.3.min.css" %}' />
<link rel='stylesheet' href='{% static "css/tabulator_bootstrap4-4.5.3.min.css" %}' />
{% endblock %}

{% block content %}
<div id='main-container'>
</div>
<script type='text/javascript'>window.onload = function () {downloadData.pageInit()}</script>
{% endblock %}
