<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}

{% block pagescripts %}
<script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- add classes for the application -->
<script type='text/javascript' src='{% static "js/appconfigs.js" %}'></script>
<script type='text/javascript' src='{% static "js/home.js" %}'></script>
{% endblock %}

{% block pagestyles %}
<link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
<link rel='stylesheet' href='{% static "css/gmw_main.css" %}' />
<style>
    .app-icon {
        background-image: url('{% static "images/app-logo.jpg" %}');
        background-size: cover;
    }
</style>
{% endblock %}

{% block content %}
<div id = 'main-container'>
</div>
<script type='text/javascript'>window.onload = function() {home.pageInit({isUser: USER_STATE, isAdmin: USER_ADM})} </script>
{% endblock %}
