{% extends 'base.html' %}
{% load static %}

{% block pagescripts %}
<!-- add classes for the application -->
<script type='text/javascript' src='{% static "js/userAccount.js" %}'></script>
{% endblock %}

{% block pagestyles %}
<link rel='stylesheet' href='{% static "css/gmw_accounts.css" %}' />
{% endblock %}

{% block content %}
<div id='main-container'></div>
<script type='text/javascript'>
    window.onload = function () {userAccount.pageInit({
        defaultLang: '{{defaultLang}}',
        username: '{{username}}',
        email: '{{email}}',
        fullName: '{{fullName}}',
        institution: '{{institution}}',
        sector: '{{sector}}',
    })}
</script>
{% endblock %}
